*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;

}

.sidebar{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: #1992d4;
}
.icon-container{
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}
.right-container{
    width: 78%;
    padding-top: 2rem;
}

.nav-info{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.top-nav{
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.search{
    display: flex;
    gap: 1rem;
    align-items: center;
}
input{
    width: 75%;
    padding: 0.5rem;
    border-radius: 1rem;
}

.name-info{
    display: flex;
    gap: 1rem;
}

.hi-message{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
    border-radius: 1rem;
    font-weight: bold;
    background-color: #1992d4;
    color: white;
    border: none;
    font-size: 1rem;

}

.button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.icon{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.icon2{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 30px;
}

.icon3{
    width: 40px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 20px;
}
h3{
    display: block;
}

.content-container{
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    background-color: #e2e8f0;
    padding-left: 1rem;
    padding-top: 1rem;
}

.project-container{
    width: 70%;
}
.project-header{
    padding-bottom: 1.75rem;
    
}
.project{
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    
}

.project-item{
    display: flex;
    flex-direction: column;
    width: 90%;
    aspect-ratio: 1/.5;
    background-color: whitesmoke;
    border-left: 5px solid rgb(161, 123, 64);
    padding: 2rem 1rem;
    border-radius: 1rem;
    gap: 1.25rem;
}
p{
    width: 75%;
}

.iconSmall{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

.header{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.extraInfo-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.extra1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color:  rgb(240, 240, 240);
    border-radius: 1rem;
    width: 80%;
}

.info{
    padding-left: 2rem;
}

.info-text{
    width: 80%;
    border-bottom: 2px solid rgb(214, 207, 207);
    margin-bottom: 1rem;
    padding-bottom: .6rem;
}

.trending{
    display: flex;
    align-items: center;
    gap: .6rem;
    padding-left: 1rem;
    width: 100%;
    margin-bottom: .6rem;
}

.trend{
    width: 100%;
    border-bottom: 2px solid rgb(214, 207, 207);
    padding-bottom: .6rem;
}